language: python
python:
  - "2.7"
  - "pypy"
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.7-dev"
  - "nightly"
matrix:
  allow_failures:
    - python: "3.7-dev"
    - python: "nightly"
  fast_finish: true
install:
  - "pip install ."
  - "pip install ujson warcio"
  - "pip install rapidjson || true"
# command to run tests
script: python -m unittest discover
sudo: false
