Source: mrjob
Section: python
Priority: extra
Maintainer: James Brown <jbrown@yelp.com>
Build-Depends: cdbs, debhelper (>= 5), python-support (>= 0.5.3), python-central (>= 0.5.6), python-boto (>=1.6), python-yaml, python-simplejson (>=2.0.9)
XS-Python-Version: >=2.5
Standards-Version: 3.7.2

Package: python-mrjob
Architecture: any
Homepage: http://packages.python.org/mrjob/
XB-Python-Version: ${python:Versions}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Run MapReduce jobs on Hadoop or Amazon Web Services
