# requirements for building docs
Jinja2==2.7.1
MarkupSafe==0.18
PyYAML==3.10
Pygments==1.6
Sphinx==1.2b1
docutils==0.11
sphinx-better-theme==0.1.5
Sphinx-PyPI-upload==0.2.1
smartypants==1.8.2

# optional: requirements for livereload
livereload==1.0.1
tornado==3.1.1
